#nav {
  box-shadow: 1px 1px 4px gray;
}

#bar {
  background-color: var(--bs-gray-100);
  height: 100%;
  border-right: solid 1px var(--bs-gray-400);
  width: 20vw;
  padding: 10px;
}

.bar-button {
  /*border: solid 1px var(--bs-gray-400);*/
  padding: 5px;
  color: #5b3eac;
  border-radius: 5px;
}

.bar-bqutton {
  border: solid 1px var(--bs-gray-400);
  padding: 5px;
  color: #5b3eac;
  border-radius: 5px;
}

.bar-button:hover {
  background-color: var(--bs-gray-200);
}

.active {
  color: #5b3eac !important;
}

.la {
  /*justify-content: center;*/
  /*display: grid;*/
  /*align-items: center;*/
}

.lactive:hover {
  color: #5b3eac;
}

.code {
  font-family: monospace;
}
